In [1]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [2]:
x = pd.Series([1, 2, 3, 4, 5])

In [3]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and its type.

In [5]:
print(x.tolist())

[1, 2, 3, 4, 5]

In [6]:
type(x)

pandas.core.series.Series

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [8]:
x2 = pd.Series([6, 7, 8, 9, 10])
x_total = x + x2
print('Add two Series:')
print(x_total)
print('Subtract two Series:')
X_subtract = x - x2
print(X_subtract)
print('Mutiply two Series')
X_multiply = x * x2
print(X_multiply)
print('Divide two Series')
X_divide = x / x2
print(X_divide)

Add two Series:
0     7
1     9
2    11
3    13
4    15
dtype: int64
Subtract two Series:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
Mutiply two Series
0     6
1    14
2    24
3    36
4    50
dtype: int64
Divide two Series
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series

In [9]:
print('Series1:')
print(x)
print('Series2:')
print(x2)
print('Compare the elements')
print('Equals')
print(x == x2)
print('Greater Than')
print(x > x2)
print('Less Than')
print(x < x2)

Series1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Series2:
0     6
1     7
2     8
3     9
4    10
dtype: int64
Compare the elements
Equals
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater Than
0    False
1    False
2    False
3    False
4    False
dtype: bool
Less Than
0    True
1    True
2    True
3    True
4    True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series

In [13]:
d = {'a': 100, 'b': 200, 'c': 300, 'd':400, 'e':800}
d

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [14]:
series = pd.Series(d)
series

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [15]:
np_array = np.array([10, 20, 30, 40, 50])
pd_series = pd.Series(np_array)
# output
print('Numpy array')
print(np_array)
print('Converted to Pandas series:')
print(pd_series)

Numpy array
[10 20 30 40 50]
Converted to Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series

In [16]:
original_data = pd.Series(['100', '200', 'python', '300.12', '400'])
new_data = pd.to_numeric(original_data, errors='coerce')
print('Orignal Data')
print(original_data)
print('New Numeric Data')
print(new_data)

Orignal Data
0       100
1       200
2    python
3    300.12
4       400
dtype: object
New Numeric Data
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [30]:
n = {'col1': [1, 2, 3, 4, 5], 'col2':[6, 7, 8, 9, 10], 'col3':[11, 12, 13, 14, 15]}
df = pd.DataFrame(data=n)
print('Original DataFrame')
print(df)
series1=df.iloc[:,0]
print('1st column as Series:')
print(series1)
print(type(series1))

Original DataFrame
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
1st column as Series:
0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

In [31]:
# I am using the same data from #7
original_data = pd.Series(['100', '200', 'python', '300.12', '400'])
print('Original Data Series')
print(original_data)
print('Series to array')
a = np.array(original_data.values.tolist())
print(a)

Original Data Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to array
['100' '200' 'python' '300.12' '400']

10. Write a Pnadas program to convert Series of lists to one Series.

In [34]:
x = pd.Series([['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse']])
print('Original List Series')
print(x)
x = x.apply(pd.Series).stack().reset_index(drop=True)
print('One Series')
print(x)

Original List Series
0    [Dog, Cat, Hamster, Fish, Mouse]
dtype: object
One Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object

11. Write a Pandas program to sort a given Series.

In [37]:
# using series from #10
x = pd.Series(['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse'])
print('Original Series')
print(x)
sort_x = pd.Series(x).sort_values()
print(sort_x)
# sorted in alphabetical order

Original Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object
1        Cat
0        Dog
3       Fish
2    Hamster
4      Mouse
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [40]:
# append to add to series
# using same series from #11
x = pd.Series(['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse'])
print('Orignal Series')
print(x)
print('Series Adding More Animals')
new_x = x.append(pd.Series(['Elephant', 'Lion', 'Bear']))
print(new_x)

Orignal Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object
Series Adding More Animals
0         Dog
1         Cat
2     Hamster
3        Fish
4       Mouse
0    Elephant
1        Lion
2        Bear
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [41]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print('Original Series')
print(x)
print('All Greater Than 7')
n = 7
greater = x[x>n]
print(greater)

Original Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
All Greater Than 7
7     8
8     9
9    10
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [42]:
x = pd.Series(data = [1, 2, 3, 4, 5], index = ['A', 'B', 'C', 'D', 'E'])
print('Original Data')
print(x)
x = x.reindex(index = ['D', 'E', 'A', 'B', 'C'])
print('New Series After Changin Order of Index')
print(x)

Original Data
A    1
B    2
C    3
D    4
E    5
dtype: int64
New Series After Changin Order of Index
D    4
E    5
A    1
B    2
C    3
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [43]:
n = pd.Series(data = [1, 3, 5, 7, 9, 5, 4, 3, 2, 1])
print('Original Series')
print(n)
print('Mean of Series')
print(n.mean())
print('Standard Deviation of Series')
print(n.std())

Original Series
0    1
1    3
2    5
3    7
4    9
5    5
6    4
7    3
8    2
9    1
dtype: int64
Mean of Series
4.0
Standard Deviation of Series
2.581988897471611

16. Write a Pandas program to get the items of a given series not present in another given series.

In [45]:
s1 = pd.Series([1, 2, 3, 4, 5, 6])
s2 = pd.Series([2, 4, 6, 8, 10])
print('Original Series')
print(s1)
print('Second Series')
print(s2)
print('Original Series not in Second Series')
result = s1[~s1.isin(s2)]
print(result)

Original Series
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Second Series
0     2
1     4
2     6
3     8
4    10
dtype: int64
Original Series not in Second Series
0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [46]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print('Original Series:')
print(s1)
print('s2:')
print(s2)
print('Items not Present in the Other Given Series')
s11 = pd.Series(np.union1d(s1, s2))
s12 = pd.Series(np.intersect1d(s1, s2))
result = s11[~s11.isin(s12)]
print(result)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Items not Present in the Other Given Series
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.