In [2]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [3]:
x = pd.Series([1, 2, 3, 4, 5])

In [4]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and its type.

In [5]:
print(x.tolist())

[1, 2, 3, 4, 5]

In [6]:
type(x)

pandas.core.series.Series

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series

In [7]:
x2 = pd.Series([6, 7, 8, 9, 10])
x_total = x + x2
print('Add two Series:')
print(x_total)
print('Subtract two Series:')
X_subtract = x - x2
print(X_subtract)
print('Mutiply two Series')
X_multiply = x * x2
print(X_multiply)
print('Divide two Series')
X_divide = x / x2
print(X_divide)

Add two Series:
0     7
1     9
2    11
3    13
4    15
dtype: int64
Subtract two Series:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
Mutiply two Series
0     6
1    14
2    24
3    36
4    50
dtype: int64
Divide two Series
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series

In [8]:
print('Series1:')
print(x)
print('Series2:')
print(x2)
print('Compare the elements')
print('Equals')
print(x == x2)
print('Greater Than')
print(x > x2)
print('Less Than')
print(x < x2)

Series1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Series2:
0     6
1     7
2     8
3     9
4    10
dtype: int64
Compare the elements
Equals
0    False
1    False
2    False
3    False
4    False
dtype: bool
Greater Than
0    False
1    False
2    False
3    False
4    False
dtype: bool
Less Than
0    True
1    True
2    True
3    True
4    True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series

In [9]:
d = {'a': 100, 'b': 200, 'c': 300, 'd':400, 'e':800}
d

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [10]:
series = pd.Series(d)
series

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [11]:
np_array = np.array([10, 20, 30, 40, 50])
pd_series = pd.Series(np_array)
# output
print('Numpy array')
print(np_array)
print('Converted to Pandas series:')
print(pd_series)

Numpy array
[10 20 30 40 50]
Converted to Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series

In [12]:
original_data = pd.Series(['100', '200', 'python', '300.12', '400'])
new_data = pd.to_numeric(original_data, errors='coerce')
print('Orignal Data')
print(original_data)
print('New Numeric Data')
print(new_data)

Orignal Data
0       100
1       200
2    python
3    300.12
4       400
dtype: object
New Numeric Data
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [13]:
n = {'col1': [1, 2, 3, 4, 5], 'col2':[6, 7, 8, 9, 10], 'col3':[11, 12, 13, 14, 15]}
df = pd.DataFrame(data=n)
print('Original DataFrame')
print(df)
series1=df.iloc[:,0]
print('1st column as Series:')
print(series1)
print(type(series1))

Original DataFrame
   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15
1st column as Series:
0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array.

In [14]:
# I am using the same data from #7
original_data = pd.Series(['100', '200', 'python', '300.12', '400'])
print('Original Data Series')
print(original_data)
print('Series to array')
a = np.array(original_data.values.tolist())
print(a)

Original Data Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to array
['100' '200' 'python' '300.12' '400']

10. Write a Pnadas program to convert Series of lists to one Series.

In [15]:
x = pd.Series([['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse']])
print('Original List Series')
print(x)
x = x.apply(pd.Series).stack().reset_index(drop=True)
print('One Series')
print(x)

Original List Series
0    [Dog, Cat, Hamster, Fish, Mouse]
dtype: object
One Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object

11. Write a Pandas program to sort a given Series.

In [16]:
# using series from #10
x = pd.Series(['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse'])
print('Original Series')
print(x)
sort_x = pd.Series(x).sort_values()
print(sort_x)
# sorted in alphabetical order

Original Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object
1        Cat
0        Dog
3       Fish
2    Hamster
4      Mouse
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [17]:
# append to add to series
# using same series from #11
x = pd.Series(['Dog', 'Cat', 'Hamster', 'Fish', 'Mouse'])
print('Orignal Series')
print(x)
print('Series Adding More Animals')
new_x = x.append(pd.Series(['Elephant', 'Lion', 'Bear']))
print(new_x)

Orignal Series
0        Dog
1        Cat
2    Hamster
3       Fish
4      Mouse
dtype: object
Series Adding More Animals
0         Dog
1         Cat
2     Hamster
3        Fish
4       Mouse
0    Elephant
1        Lion
2        Bear
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [18]:
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print('Original Series')
print(x)
print('All Greater Than 7')
n = 7
greater = x[x>n]
print(greater)

Original Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
All Greater Than 7
7     8
8     9
9    10
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [19]:
x = pd.Series(data = [1, 2, 3, 4, 5], index = ['A', 'B', 'C', 'D', 'E'])
print('Original Data')
print(x)
x = x.reindex(index = ['D', 'E', 'A', 'B', 'C'])
print('New Series After Changin Order of Index')
print(x)

Original Data
A    1
B    2
C    3
D    4
E    5
dtype: int64
New Series After Changin Order of Index
D    4
E    5
A    1
B    2
C    3
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [20]:
n = pd.Series(data = [1, 3, 5, 7, 9, 5, 4, 3, 2, 1])
print('Original Series')
print(n)
print('Mean of Series')
print(n.mean())
print('Standard Deviation of Series')
print(n.std())

Original Series
0    1
1    3
2    5
3    7
4    9
5    5
6    4
7    3
8    2
9    1
dtype: int64
Mean of Series
4.0
Standard Deviation of Series
2.581988897471611

16. Write a Pandas program to get the items of a given series not present in another given series.

In [21]:
s1 = pd.Series([1, 2, 3, 4, 5, 6])
s2 = pd.Series([2, 4, 6, 8, 10])
print('Original Series')
print(s1)
print('Second Series')
print(s2)
print('Original Series not in Second Series')
result = s1[~s1.isin(s2)]
print(result)

Original Series
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Second Series
0     2
1     4
2     6
3     8
4    10
dtype: int64
Original Series not in Second Series
0    1
2    3
4    5
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [22]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print('Original Series:')
print(s1)
print('s2:')
print(s2)
print('Items not Present in the Other Given Series')
s11 = pd.Series(np.union1d(s1, s2))
s12 = pd.Series(np.intersect1d(s1, s2))
result = s11[~s11.isin(s12)]
print(result)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Items not Present in the Other Given Series
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [23]:
n_state = np.random.RandomState(100)
n_series = pd.Series(n_state.normal(10, 4, 20))
print('Original Series:')
print(n_series)
result = np.percentile(n_series, q=[0, 25, 50, 75, 100])
print('minimum, 25th percentile, median, 75th percentile, and maximum number of the series')
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
minimum, 25th percentile, median, 75th percentile, and maximum number of the series
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

19. Write a Pandas program to calculate the frequency count of each unique value of a given series.

In [24]:
n_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=40)))
print('Original Series:')
print(n_series)
print('Frequency of each unique value of the series.')
result = n_series.value_counts()
print(result)

Original Series:
0     9
1     8
2     7
3     6
4     0
5     8
6     6
7     4
8     3
9     0
10    9
11    4
12    9
13    6
14    6
15    2
16    0
17    8
18    8
19    0
20    7
21    9
22    4
23    1
24    6
25    5
26    6
27    2
28    8
29    1
30    0
31    4
32    1
33    9
34    9
35    5
36    0
37    7
38    5
39    2
dtype: object
Frequency of each unique value of the series.
6    6
9    6
0    6
8    5
4    4
5    3
1    3
7    3
2    3
3    1
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series

In [25]:
np.random.RandomState(100)
n_series = pd.Series(np.random.randint(1, 5, [15]))
print('Original Series:')
print(n_series)
print('Top two frequent values:', n_series.value_counts())
result = n_series[~n_series.isin(n_series.value_counts().index[:1])] ='Other'
print(n_series)

Original Series:
0     1
1     3
2     4
3     1
4     1
5     4
6     1
7     4
8     4
9     1
10    2
11    1
12    2
13    1
14    3
dtype: int64
Top two frequent values: 1    7
4    4
3    2
2    2
dtype: int64
0         1
1     Other
2     Other
3         1
4         1
5     Other
6         1
7     Other
8     Other
9         1
10    Other
11        1
12    Other
13        1
14    Other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [26]:
num_series = pd.Series(np.random.randint(1, 10, 9))
print("Original Series:")
print(num_series)
result = np.argwhere(num_series % 5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    2
1    5
2    6
3    8
4    4
5    9
6    3
7    5
8    4
dtype: int64

ValueError: Length of passed values is 1, index implies 9.

Write a Pandas program to extract items at given positions of a given series.

In [27]:
num_series = pd.Series(list('2390238923902390239023'))
element_pos = [0, 2, 6, 11, 21]
print('Original Series:')
print(num_series)
result = num_series.take(element_pos)
print('Extract items at given positions of said series')
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object
Extract items at given positions of said series
0     2
2     9
6     8
11    0
21    3
dtype: object

Write a Pandas program to get the positions of items of a given series in another given series.

In [28]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([1, 3, 5, 7, 10])
print('Original Series:')
print(series1)
print(series2)
result=[pd.Index(series1).get_loc(i) for i in series2]
print('Positions of items of series2 in series1')
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Positions of items of series2 in series1
[0, 2, 4, 6, 9]

Write a Pandas program, convert the first and last character of each word to upper case in each word of a given series.

In [29]:
original_series = pd.Series(['php', 'python', 'java', 'c#'])
print('Original Series:')
print(original_series)
upper = original_series.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print('First and last character of each word to upper case')
print(upper)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object
First and last character of each word to upper case
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

Write a Pandas program to calculate the number of characters in each word in a given series.

In [30]:
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
print('Original Series:')
print(series1)
result = series1.map(lambda x: len(x))
print("Number of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object
Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [31]:
series = pd.Series([1, 3, 5, 8, 10, 11, 15])
print('Original Series')
print(series)
print('Difference of differences between consecutive numbers of the series')
print(series.diff().tolist())
print(series.diff().diff().tolist())

Original Series
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64
Difference of differences between consecutive numbers of the series
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

Write a Pandas program to convert a series of date strings to a timeseries.

In [33]:
dates = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print('Original Series')
print(dates)
print('Series of date strings to a timeseries:')
print(pd.to_datetime(dates))

Original Series
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

In [46]:
from dateutil.parser import parse
import datetime
dates = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016/04/12', '2019-04-06T11:20'])
print('Original Series')
print(dates)
dates = dates.map(lambda x: parse(x))
print('Day of month:')
print(dates.dt.day.tolist())
print('Day of year')
print(dates.dt.dayofyear.tolist())
print('Day of week')
print(dates.dt.weekday.tolist())

Original Series
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016/04/12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year
[1, 276, 66, 126, 103, 96]
Day of week
[3, 6, 2, 1, 1, 5]

In [ ]:
Write a Pandas program to conv